@using MindfulMomentsApp.Models
@using MindfulMomentsApp.Models.Enums

<div class="card mb-3 shadow-sm">
    <div class="card-body">
        <h4 class="card-title">
            @Entry.Mood
        </h4>

        <h6 class="card-subtitle mb-2 text-muted">
            @Entry.CreatedDate.ToString("MMMM dd, yyyy")
        </h6>

        <p class="card-text">
            <strong>Activity:</strong> @Entry.Activity
        </p>

        <p class="card-text">
            @Entry.Description
        </p>

        <!-- Buttons -->
        <div class="mt-3">
            <!-- Delete Button  -->
             <a href="/Entry/Delete/@Entry.EntryId"
                class="btn btn-danger btn-sm me-2">
                    Delete
                </a>

            <!-- Edit Button (only if today) -->
            @if (Entry.CreatedDate.Date == DateTime.Today)
            {
                 <a href="/Entry/Edit/@Entry.EntryId"
                    class="btn btn-primary btn-sm me-2">
                        Edit
                    </a>
            }
            @if (Entry.UpdatedDate != null)
            {
                <small class="text-warning d-block">
                    Edited @Entry.UpdatedDate.Value.ToLocalTime().ToString("MMMM dd, yyyy HH:mm")
                </small>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Entry Entry { get; set; } = default!;
}
